@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
body {
  font-family: Poppins;
  background-color: #F1EEEE;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

body header {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F1EEEE), to(#d4d1d1));
  background-image: linear-gradient(#F1EEEE, #d4d1d1);
}

body header a {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: black;
  text-shadow: 1px 1px 2px #8a8989;
  text-decoration: none;
}

body header a:hover {
  cursor: pointer;
}

body .hero {
  position: relative;
}

body .hero .welcome-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 100px 25%;
  display: flex;
  text-align: center;
}

body .hero .welcome-container .left-col {
  width: 50%;
  margin: 2em;
  overflow-wrap: break-word;
  font-size: 75%;
}

body .hero .welcome-container .left-col h4 {
  font-weight: 300;
}

body .hero .welcome-container .right-col {
  width: 50%;
  margin: 1em;
  position: relative;
}

body .hero .welcome-container .right-col a {
  position: relative;
  top: 30%;
}

body .hero .loadingContainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 30px;
      grid-template-columns: 30px;
  width: 50%;
  margin: 200px 25%;
  /* Safari */
}

body .hero .loadingContainer .loadingSymbol {
  position: absolute;
  left: 47%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

body .hero .loadingContainer p {
  position: absolute;
  left: 47%;
  padding-top: 90px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .hero .users-container {
  width: 50%;
  margin: 25px 25% 0 25%;
  padding-bottom: 75px;
}

body .hero .users-container .button-group {
  margin: 0;
}

body footer {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  width: 100%;
}

body footer a {
  padding-right: .5em;
  padding-left: .5em;
  color: black;
  font-size: .75em;
}

@media only screen and (max-width: 768px) {
  .welcome-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome-container .right-col a {
    font-size: .6em;
  }
}

@media only screen and (max-width: 520px) {
  .hero .welcome-container .left-col h4 {
    font-size: 1.2em;
  }
  #sort-by-username-button {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */